NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Supabase Local Dev
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Analytics
NEXT_PUBLIC_POSTHOG_KEY="your project api key"
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# The below variable is automatically set by Vercel for dev and preview environments
# for dynamic urls. (https://supabase.com/docs/guides/auth/redirect-urls#vercel-preview-urls)
# process?.env?.NEXT_PUBLIC_VERCEL_URL

NEXT_PUBLIC_TEST_MODE_ENABLED=true #