@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 64px;
    line-height: 96px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    line-height: 72px;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    line-height: 48px;
}
